*{
    color: rgb(255, 255, 255);
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;

    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

nav{
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(14, 58, 255);
    color:  rgb(255, 255, 255);

}
li{
    padding: 10px;
    list-style-type: none;
    display: inline;
    font-family: 'Balsamiq Sans', cursive;
}
ul li a{

    display: block;
    font-family: 'Balsamiq Sans', cursive;


}
ul {
    list-style-type: none;
    margin: 0;
  
  }
.active{
    background-color: rgb(243, 243, 243);
    border:solid;
    border-radius: 25px;
    border-color: rgb(50, 138, 253);
    color: rgb(255, 255, 255);
}
.inicio{
    padding-top: 10px;
    font-size: 20px;

}
.login{

    padding-left: 550px;
    float: right;
    font-size: 20px;

}

