body{

    margin: 0;
}

:root{
--cuadrado-size : 200px;
--mark-size: calc(var(--cuadrado-size) * .9)

}
.container {
    width: auto;
    padding: 16px;
    font-family: 'Kreon', serif;
    border: 10px solid #5c4474;
    padding: 30px;
    background-color:rgb(255, 245, 255);
    border-radius: 25px;
    margin: auto;
}


.cuadradito{
width: 200px;
height:200px;
background-color:rgb(255, 255, 255);
border: solid;
border-color: rgb(68, 0, 68);
display: flex;
justify-content: center;
align-items: center;
position: relative;
cursor: pointer;


}

.cuadradito.x,
.cuadradito.o {
  cursor: not-allowed;
}

.cuadradito.x::before,
.cuadradito.x::after,
.cuadradito.o::before {
  background-color: black;
}

.CuadraditoContainer.x .cuadradito:not(.x):not(.o):hover::before,
.CuadraditoContainer.x .cuadradito:not(.x):not(.o):hover::after,
.CuadraditoContainer.o .cuadradito:not(.x):not(.o):hover::before {
  background-color: lightgrey;
}

.cuadradito.x::before,
.cuadradito.x::after,
.CuadraditoContainer.x .cuadradito:not(.x):not(.o):hover::before,
.CuadraditoContainer.x .cuadradito:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: calc(200px * .15);
  height: 200px;
}

.cuadradito.x::before,
.CuadraditoContainer.x .cuadradito:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cuadradito.x::after,
.CuadraditoContainer.x .cuadradito:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cuadradito.o::before,
.cuadradito.o::after,
.CuadraditoContainer.o .cuadradito:not(.x):not(.o):hover::before,
.CuadraditoContainer.o .cuadradito:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  
}

.cuadradito.o::before,
.CuadraditoContainer.o .cuadradito:not(.x):not(.o):hover::before {
  width: 190px;
  height: 190px;
}

.cuadradito.o::after,
.CuadraditoContainer.o .cuadradito:not(.x):not(.o):hover::after {
  width: calc(200px  * .7);
  height: calc(200px  * .7);
  background-color: white;
 
}



.CuadraditoContainer{

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)

}

.resultadoContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  
  .resultadoContainer button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .resultadoContainer button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .resultadoContainer.show {
    display: flex;
  }