<div class="container" >
  <div class="tarjetas">
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.png" alt="Avatar" style="width:100%">
      <h2>Velocidad y agilidad aritmética </h2>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-twitter"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-linkedin"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </li>
      </ul>
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h2>Piedra Papel <br> o Tijera</h2>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-twitter"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-linkedin"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </li>
      </ul>
      <p>           <button class="button"  (click)="Juego('Piedrapapeltijera')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar" style="width:100%">
      <h2>Adivina el número secreto</h2>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-twitter"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-linkedin"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </li>
      </ul>
    
      
      <p> <button class="button"   (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/mometest.png" alt="Avatar" style="width:100%">
      <h2>Memotest</h2>
      <p class="title">Juego de memoria</p>
      <p>UTN FRA </p>
  
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-twitter"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-linkedin"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </li>
      </ul>
      <p>           <button class="button"  (click)="Juego('Mijuego')" >Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/tateti.png" alt="Avatar" style="width:100%">
      <h2>Tatetí</h2>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-twitter"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-linkedin"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </li>
      </ul>
      <p>           <button class="button" (click)="Juego('Tateti')" >Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
      <h2>Anagrama</h2>
      <p class="title">Juega de conocimiento</p>
      <p>UTN FRA </p>
      
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-twitter"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-linkedin"></i></a> 
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </li>
      </ul>
      <p> <button class="button"  (click)="Juego('Anagrama')" >Jugar</button></p>
    </div>
  </div>
  </div>