<!--div style="margin: 20% auto; width: 30%;">
  <div class="row">
    <div class="col-lg-6">
      Usuario
    </div>
    <div class="col-lg-6">
      <input type="text"  [(ngModel)]="usuario">
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-lg-6">
      Clave
    </div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)]="clave">
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-lg-12">
      <button (click)="Entrar()" class="btn btn-info btn-lg" >Entrar</button>
    </div>
  </div>
</div-->
<!---->
 <div class="container" >
  <div class="jumbotron" style="padding:20px;">
    <form action="return true;"  [formGroup]="loginForm" (ngSubmit)="onLogin()"  >
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.jpg" alt="Avatar" class="avatar" max-width="104" >
      </div>
      {{mensajeError}}
      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="usuario@usuario.com"   name="uname"   required formControlName="email">

        <label><b>Clave</b></label>
        <input type="password" placeholder="123456"  name="password"   required  formControlName="password">
            
        <button *ngIf="logeando" type = "submit" (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar   active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       


      </div>

      <div class="container" style="background-color:rgb(251, 230, 255)">
        <button type="button" class="cancelbtn btn btn-md"  routerLink="/Principal" >Cancelar</button>
        <button type="button" class="aceptbtn btn btn-md" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste la <a href="#">clave?</a></span>
      </div>
     
    </form>
<!--
    <select value="seleccione" okText="Seleccionar" [(ngModel)]="valor"  cancelText="Cancelar" (ngnChange)="onChange(valor)">
      <option value="admin">admin</option>
      <option value="fulanito">Fulanito</option>
     
      </select>
-->
  </div>
</div>