<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<!-- 
  <div class="container">
    <div style="text-align:center">
      <link href="https://fonts.googleapis.com/css2?family=Kreon:wght@700&display=swap" rel="stylesheet">
      <h1>
        Velocidad y agilidad aritmética
      </h1>
     </div>
<form name="juego">
<ul>
   <li>
   Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
  
  </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" required/>
     
   </li>
  <li>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
  </li>
  <li>
    <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
  </li>
</ul>

</form>
</div>
-->



<div class="container">
<form name="juego">
  <ul>
     <li>
     Primer número: <input  placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
    </li>
    <li>
     Operador: <input placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
      
    </li>
    <li>
     Segundo número: <input  placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
      
    </li>
    <li>
      Respuesta: <input  placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
       
     </li>
    <li>
     
    </li>
    <li>
      <h2 ><button    class="btn btn-info btn-lg">Nuevo</button></h2>
    </li>
    <li>
      <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>
  
     
    </li>
  </ul>
  
  </form>
</div>


<!--

<form name="juego">
  <ul>
     <li>
     Primer número: <input  placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
    </li>
    <li>
     Operador: <input  placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
      
    </li>
    <li>
     Segundo número: <input  placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
      
    </li>
    <li>
      Respuesta: <input  placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
       
     </li>
    <li>
      <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
    </li>
    <li>
      <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
    </li>
    <li>
      <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>
  
      <h3 >usted adivino el número</h3>
      <h3>usted aún no gano </h3>
    </li>
  </ul>
  
  </form>

  -->
